# 【練習問題】自動車の走行距離予測

[リンク](https://signate.jp/competitions/121)

８つの説明変数から、目的変数を予測する

In [1]:
import pandas as pd
import numpy as np

In [7]:
# データフレーム作成
df = pd.read_csv('D:/Python/Jupyter/ds/train.tsv', sep='\t',encoding='utf-8')
df.head()

,id,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,0,29.0,4,135.0,84.00,2525.0,16.0,82,1,dodge aries se
1,3,31.9,4,89.0,71.00,1925.0,14.0,79,2,vw rabbit custom
2,9,19.0,6,156.0,108.0,2930.0,15.5,76,3,toyota mark ii
3,11,28.0,4,90.0,75.00,2125.0,14.5,74,1,dodge colt
4,13,37.7,4,89.0,62.00,2050.0,17.3,81,3,toyota tercel

In [15]:
df.columns

Index(['id', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [21]:
df.dtypes

id                int64
mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [23]:
df.shape

(199, 10)

In [25]:
print(len(df), len(df['id'].unique()))

199 199

ここまで問題なし

In [28]:
df['id'].unique()

array([  0,   3,   9,  11,  13,  16,  18,  19,  23,  24,  25,  28,  31,
        32,  35,  36,  38,  39,  40,  41,  42,  43,  44,  47,  48,  50,
        53,  57,  58,  62,  67,  69,  70,  71,  72,  75,  77,  79,  80,
        82,  83,  84,  86,  87,  88,  91,  93,  94,  95,  98,  99, 104,
       105, 109, 110, 111, 115, 117, 118, 119, 121, 123, 125, 127, 128,
       129, 130, 131, 139, 143, 147, 148, 149, 151, 152, 157, 160, 161,
       163, 165, 166, 169, 172, 174, 177, 178, 180, 182, 183, 184, 185,
       187, 188, 189, 192, 193, 195, 197, 201, 202, 203, 204, 205, 207,
       208, 209, 211, 213, 217, 222, 226, 227, 228, 234, 237, 239, 240,
       242, 243, 244, 247, 248, 249, 251, 252, 255, 256, 257, 258, 262,
       264, 265, 266, 267, 268, 270, 272, 273, 275, 276, 277, 278, 279,
       283, 285, 288, 290, 291, 292, 297, 300, 301, 305, 306, 307, 311,
       313, 314, 315, 316, 318, 321, 323, 325, 329, 333, 335, 336, 337,
       338, 339, 340, 343, 344, 345, 349, 351, 353, 354, 355, 359, 360,
       364, 366, 367, 368, 370, 373, 375, 377, 380, 381, 382, 383, 384,
       385, 387, 395, 396], dtype=int64)

In [30]:
df.describe()

,id,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,200.170854,24.307035,5.296482,183.311558,2883.839196,15.647739,76.165829,1.582915
std,113.432759,7.797665,1.644562,98.400457,819.766870,2.701885,3.802928,0.798932
min,0.000000,9.000000,3.000000,71.000000,1613.000000,8.500000,70.000000,1.000000
25%,98.500000,18.000000,4.000000,98.000000,2217.500000,14.000000,73.000000,1.000000
50%,202.000000,24.000000,4.000000,140.000000,2702.000000,15.500000,76.000000,1.000000
75%,294.500000,30.500000,6.000000,250.000000,3426.500000,17.150000,80.000000,2.000000
max,396.000000,44.600000,8.000000,454.000000,5140.000000,23.700000,82.000000,3.000000

NULLは無いことが分かる

In [33]:
# idをindexにする
df.set_index('id', inplace=True)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
id,,,,,,,,,
0,29.0,4,135.0,84.00,2525.0,16.0,82,1,dodge aries se
3,31.9,4,89.0,71.00,1925.0,14.0,79,2,vw rabbit custom
9,19.0,6,156.0,108.0,2930.0,15.5,76,3,toyota mark ii
11,28.0,4,90.0,75.00,2125.0,14.5,74,1,dodge colt
13,37.7,4,89.0,62.00,2050.0,17.3,81,3,toyota tercel

## カラムについて

|カラム名|型|説明|
|-|-|-|
|mpg|float|ガソリン１ガロンあたりの走行距離<br>（mile par gallon の略）<br>**目的変数**
|cylinders|varchar|シリンダー
|displacement|float|変位
|horsepower|float|馬力
|weight|float|重量
|acceleration|float|加速度
|model year|varchar|年式
|origin|varchar|起源
|car name|varchar|車名

In [51]:
# とりあえず、min/max
df.min(axis=0)

mpg                                   9
cylinders                             3
displacement                         71
horsepower                        100.0
weight                             1613
acceleration                        8.5
model year                           70
origin                                1
car name        amc ambassador brougham
dtype: object

In [52]:
df.max(axis=0)

mpg                         44.6
cylinders                      8
displacement                 454
horsepower                     ?
weight                      5140
acceleration                23.7
model year                    82
origin                         3
car name        vw rabbit custom
dtype: object